# Finnhub - https://finnhub.io/
FINNHUB_API_KEY= d88nluhr01qq4343tq10d88nluhr01qq4343tq1g

# Alpha Vantage - https://www.alphavantage.co/support/#api-key
ALPHA_VANTAGE_API_KEY= BNRPSEZVWMC0HHOR

# xAI Grok - https://console.x.ai/
XAI_API_KEY= xai-G4wJGE1Gxb6QcZsrxO9qlqay1I9phoKQwluUOy6Fsg2jNaLlwcoRXfmn4ZY79mPOvSwV7mInu5VPRNgN

# Supabase - https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_publishable_O90RvwzB5B5U9FbS342GDQ_6ol-Gez0
